@charset "UTF-8";

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 10px;
  background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
}

table {
    width: 80%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: #333;
    color: white;
}

.action-buttons {
    display: flex;
    justify-content: space-around;
}

.update-button, .delete-button, .goback-button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.delete-button {
    background-color: #f44336;
}


.update-button:hover, .delete-button:hover, .goback-button:hover{
    background-color: #45a049;
}


