<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">



<servlet>
	<servlet-name>Registration</servlet-name>
	<servlet-class>com.customer.customerInsertServlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>Registration</servlet-name>
	<url-pattern>/register</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>DeleteAccount</servlet-name>
	<servlet-class>com.customer.deleteaccountServlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>DeleteAccount</servlet-name>
	<url-pattern>/deleteAccount</url-pattern>
</servlet-mapping>

<!-- <servlet>
    	<servlet-name>Customerinsert</servlet-name>
    	<servlet-class>fb_customer.Customerinsert</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>Customerinsert</servlet-name>
    	<url-pattern>/Customerinsert</url-pattern>
    </servlet-mapping>

	<servlet>
		<servlet-name>C_updateservlet</servlet-name>
		<servlet-class>fb_customer.C_updateservlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>C_updateservlet</servlet-name>
		<url-pattern>/C_updateservlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>C_deleteservlet</servlet-name>
		<servlet-class>fb_customer.C_deleteservlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>C_deleteservlet</servlet-name>
		<url-pattern>/C_deleteservlet</url-pattern>
	</servlet-mapping> -->



</web-app>